.t3 {
  display: grid;
  grid-template-areas: 
    "h1 h1 h1 h1 h1 h1"
    "m1 m1 m2 m2 m2 m3"
    "T1 C1 T2 C2 T3 C3"
    "T1 C1 T2 C2 T3 C3"
    "T1 C1 T2 C2 T3 C3"
    "nwat nwac nwbt nwbc nwbc nwbc";
  grid-template-columns: 1.5fr 3.5fr 2fr 3.5fr 2fr 7.5fr;
}


.header {
  grid-area: h1;
}

.title {
  font-style: italic;
}

.content {
  font-size: 1.1em;
}

.meta1 {
  grid-area: m1;
}
.meta2 {
  grid-area: m2;
}
.meta3 {
  grid-area: m3;
}
.netweightbc {
  grid-area: nwbc;
}

.item {
  border-top: 1px black solid;
  border-left: 1px black solid;
  text-align: center;
}

.lastrow {
  border-bottom: 1px black solid;
}
.lastcolumn {
  border-right: 1px black solid;
}

.header {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 0.3em;
}

.meta {
  margin-bottom: 0.3em;
}

.meta3 {
  text-align: right;
}