<h2 mat-dialog-title>{{dialogTitle}}</h2>
<!-- <mat-dialog-content class="mat-typography"> -->
<mat-dialog-content>
  <form [formGroup]="vswsForm">
    <mat-card>
      <mat-card-header>
        <mat-card-title><small>过磅信息</small></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <!-- <mat-form-field>
          <mat-label>进场编号:</mat-label>
          <input matInput formControlName="_id">
        </mat-form-field> -->
        <div formGroupName="weighing">
          <span>&nbsp;</span>
          <mat-form-field>
            <mat-label>
              <mat-icon>local_shipping</mat-icon>
              货车车牌号
            </mat-label>
            <input matInput formControlName="truckPlateNo"
              [matAutocompleteDisabled]="!!vswsForm.get('truckPlateNo')?.value" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of truckPlateNoOptions" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <span>&nbsp;</span>
          <mat-form-field>
            <mat-label>
              客户名称
            </mat-label>
            <input matInput formControlName="customerName"
              [matAutocompleteDisabled]="!!this.data.vsws.weighing.customerId"
              [matAutocomplete]="autoCustomerName">
            <mat-autocomplete #autoCustomerName="matAutocomplete">
              <mat-option *ngFor="let customerOption of possibleCustomers$ | async" [value]="customerOption.name">
                {{customerOption.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <span>&nbsp;</span>
          <mat-form-field>
            <mat-label>
              客户电话
            </mat-label>
            <input matInput formControlName="customerTel">
          </mat-form-field>
          <span>&nbsp;</span>
          <button mat-raised-button color="primary" *ngIf="showNewCustomerButton"
            (click)="openCustomerDialog(customer)" [disabled]="loadingPossibleCustomers">新建客户</button>
          <button mat-button color="primary" *ngIf="!showNewCustomerButton" [disabled]="disableEditCustomerButton"
            (click)="openCustomerDialog(customer)">编辑客户</button>
        </div>
        <br>
        <!-- <mat-form-field>
          <mat-label>毛重（公斤）:</mat-label>
          <input matInput formControlName="grossWeight">
        </mat-form-field> -->
      </mat-card-content>
    </mat-card>
    <br>
    <mat-card>
      <mat-card-header>
        <mat-card-title><small>验质信息</small></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <mat-label>进场编号:</mat-label>
          <input matInput formControlName="_id">
        </mat-form-field>
        <br>
      </mat-card-content>
    </mat-card>
    <br>
    <mat-card>
      <mat-card-header>
        <mat-card-title><small>变更记录</small></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <mat-label>进场编号:</mat-label>
          <input matInput formControlName="_id">
        </mat-form-field>
        <br>
      </mat-card-content>
    </mat-card>

  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="primary" mat-dialog-close>取消</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" [disabled]="vswsForm.invalid">保存</button>
</mat-dialog-actions>