<h2 mat-dialog-title>{{dialogTitle}}</h2>
<!-- <mat-dialog-content class="mat-typography"> -->
<mat-dialog-content>
  <form [formGroup]="vswsForm">
    <mat-card>
      <mat-card-header>
        <mat-card-title><small>过磅信息</small></mat-card-title>
      </mat-card-header>
      <mat-card-content formGroupName="weighing">
        <!-- <mat-form-field>
          <mat-label>进场编号:</mat-label>
          <input matInput formControlName="_id">
        </mat-form-field> -->
        <span>&nbsp;</span>
        <mat-form-field>
          <mat-label>
            货车车牌号
          </mat-label>
          <input matInput formControlName="truckPlateNo"
            [matAutocompleteDisabled]="!!vswsForm.get('truckPlateNo')?.value" [matAutocomplete]="auto">
          <mat-icon matPrefix>local_shipping</mat-icon>

          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of truckPlateNoOptions" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <span>&nbsp;</span>
        <mat-form-field>
          <mat-label>
            客户名称
          </mat-label>
          <ng-container *ngIf="!this.data.vsws.weighing.customerId">
            <input matInput formControlName="customerName"
              [matAutocompleteDisabled]="!!this.data.vsws.weighing.customerId" [matAutocomplete]="autoCustomerName">
            <mat-autocomplete #autoCustomerName="matAutocomplete">
              <mat-option *ngFor="let customerOption of possibleCustomers$ | async" [value]="customerOption.name">
                {{customerOption.name}}
              </mat-option>
            </mat-autocomplete>
          </ng-container>
          <ng-container *ngIf="!!this.data.vsws.weighing.customerId">
            <input matInput formControlName="customerName">
          </ng-container>
        </mat-form-field>
        <span>&nbsp;</span>
        <mat-form-field>
          <mat-label>
            客户电话
          </mat-label>
          <input matInput formControlName="customerTel">
        </mat-form-field>
        <span>&nbsp;</span>
        <button mat-raised-button color="accent" *ngIf="status.showNewCustomerButton"
          (click)="openCustomerDialog(customer)" [disabled]="loadingPossibleCustomers">新建客户</button>
        <button mat-button color="primary" *ngIf="!status.showNewCustomerButton" [disabled]="disableEditCustomerButton"
          (click)="openCustomerDialog(customer)">编辑客户</button>
        <br>
        <mat-form-field>
          <mat-label>毛重（公斤）</mat-label>
          <input matInput type="number" formControlName="inWeightKG">
          <mat-icon matPrefix>login</mat-icon>
        </mat-form-field>
        <span>&nbsp;</span>
        <mat-form-field>
          <mat-label>进场日期</mat-label>
          <input matInput type="date" formControlName="inWeighedDate">
        </mat-form-field>
        <span>&nbsp;</span>
        <mat-form-field>
          <mat-label>进场时间</mat-label>
          <input matInput type="time" formControlName="inWeighedTime">
        </mat-form-field>
        <span>&nbsp;</span>
        <mat-form-field>
          <mat-label>进场司磅</mat-label>
          <input matInput formControlName="inWeighedByName">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>皮重（公斤）</mat-label>
          <input matInput type="number" formControlName="outWeightKG">
          <mat-icon matPrefix>logout</mat-icon>
        </mat-form-field>
        <span>&nbsp;</span>
        <mat-form-field>
          <mat-label>出场日期</mat-label>
          <input matInput type="date" formControlName="outWeighedDate">
        </mat-form-field>
        <span>&nbsp;</span>
        <mat-form-field>
          <mat-label>出场时间</mat-label>
          <input matInput type="time" formControlName="outWeighedTime">
        </mat-form-field>
        <span>&nbsp;</span>
        <mat-form-field>
          <mat-label>出场司磅</mat-label>
          <input matInput formControlName="outWeighedByName">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>净重（公斤）</mat-label>
          <input matInput type="number" disabled [value]="status.netWeightKG">
        </mat-form-field>
        <span>&nbsp;</span>
        <button mat-button color="warn" *ngIf="vswsForm.errors">
          {{vswsForm.errors?.weightError ? '皮重不能大于毛重' : ''}}
        </button>
        <!-- <button mat-button color="warn" *ngIf="vswsForm.errors">
          {{vswsForm.errors?.weightError2 ? '物资总重不能大于过磅净重' : ''}}
        </button> -->
        <button mat-button color="warn" *ngIf="totalMaterialWeightGreaterThanWeighingNetweight">
          注意：物资总重已大于过磅净重
        </button>
        <br>
        <mat-form-field class="width-fifty">
          <mat-label>
            备注
          </mat-label>
          <textarea matInput formControlName="notes"></textarea>
        </mat-form-field>

      </mat-card-content>
    </mat-card>
    <br>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <small>验质信息</small>
          <span>&nbsp;&nbsp;&nbsp;</span>
          <small>

            <small>
              <button mat-button>【{{materialsFormArray.controls.length}}项】</button>
              <button mat-button *ngIf="status.materialTotalWeight <= status.netWeightKG">【{{status.materialTotalWeight
                | number:'1.0-0'}}公斤】</button>
              <button mat-button *ngIf="status.materialTotalWeight > status.netWeightKG"
                color="warn">【{{status.materialTotalWeight | number:'1.0-0'}}公斤】</button>
              <button mat-button>【{{status.materialTotalCost | number:'1.2-2'}}元】</button>
            </small>
          </small>
          <span>&nbsp;&nbsp;&nbsp;</span>
          <mat-form-field class="width-five-vm" style="font-size: 14px">
            <mat-label>税点</mat-label>
            <input matInput type="number" [formControl]="$any(vswsForm.get('taxRatio'))">
            <span matSuffix>%</span>
          </mat-form-field>
          <span>&nbsp;&nbsp;&nbsp;</span>
          <button mat-raised-button color="primary" (click)="addMaterial()" [disabled]="
          !$any(vswsForm.get('weighing.inWeightKG')).value || !$any(vswsForm.get('weighing.outWeightKG')).value ||
          ($any(vswsForm.get('weighing.inWeightKG')).value - $any(vswsForm.get('weighing.outWeightKG')).value <= 0)
          ">添加物资</button>
          <span>&nbsp;&nbsp;&nbsp;</span>
          <button mat-button *ngIf="
          !$any(vswsForm.get('weighing.inWeightKG')).value || !$any(vswsForm.get('weighing.outWeightKG')).value ||
          ($any(vswsForm.get('weighing.inWeightKG')).value - $any(vswsForm.get('weighing.outWeightKG')).value <= 0)
          ">
            添加物资前，请录入有效过磅数据
          </button>
          <button mat-button color="warn" *ngIf="false">
            物资总重不能大于过磅净重
          </button>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div #formRows *ngFor="let material of materialsFormArray.controls; let i=index">
          <mat-card>
            <mat-card-content>
              <mat-form-field>
                <mat-label>物资名称</mat-label>
                <!-- <input matInput> -->
                <!-- <input matInput [formControl]="getMaterialControl(i, 'pwsName')"> -->
                <mat-select [formControl]="$any(material.get('pwId'))" #select="matSelect">
                  <mat-option *ngFor="let pw of selectedPws" [value]="pw._id">
                    {{pw.name}}
                  </mat-option>
                </mat-select>
                <span matPrefix>{{i + 1}}&nbsp;&nbsp;</span>
              </mat-form-field>
              <!-- {{$any(select.selected)?.viewValue}} -->
              <span>&nbsp;</span>
              <mat-form-field class="width-fifteen-vm">
                <mat-label>重量</mat-label>
                <input matInput type="number" [formControl]="$any(material.get('weightKG'))">
                <span matSuffix>公斤</span>

              </mat-form-field>

              <span>&nbsp;</span>
              <mat-form-field class="width-fifteen-vm">
                <mat-label>价格</mat-label>
                <input matInput type="number" [formControl]="$any(material.get('price'))">
                <span matSuffix>元/公斤</span>
              </mat-form-field>
              <span>&nbsp;</span>
              <mat-form-field class="width-fifteen-vm">
                <mat-label>金额</mat-label>
                <input matInput type="number" disabled
                  [value]="$any(material.get('weightKG')).value * $any(material.get('price')).value">
                <span matSuffix>元</span>

              </mat-form-field>
              <span>&nbsp;</span>
              <mat-form-field class="width-ten-vm"
                *ngIf="select.selected && $any(select.selected)?.viewValue.indexOf('发动机') > -1">
                <mat-label>数量</mat-label>
                <input matInput type="number" [formControl]="$any(material.get('count'))">
              </mat-form-field>
              <br>
              <mat-form-field class="width-fifty">
                <mat-label>
                  备注
                </mat-label>
                <textarea matInput [formControl]="$any(material.get('notes'))"></textarea>
              </mat-form-field>
              <span>&nbsp;</span>
              <button mat-button color="accent" (click)="removeMaterial(i)"
                *ngIf="!material.get('inventoryId')?.value">删除</button>

            </mat-card-content>
          </mat-card>
          <br>
        </div>
        <div formGroupName="survey">
          <br>
          <mat-form-field>
            <mat-label>验质员</mat-label>
            <input matInput formControlName="surveyedByName">
            <mat-icon matPrefix>assignment_ind</mat-icon>
          </mat-form-field>
          <span>&nbsp;</span>
          <mat-form-field>
            <mat-label>验质日期</mat-label>
            <input matInput type="date" formControlName="surveyedDate">
          </mat-form-field>
          <span>&nbsp;</span>
          <mat-form-field>
            <mat-label>验质时间</mat-label>
            <input matInput type="time" formControlName="surveyedTime">
          </mat-form-field>
        </div>

      </mat-card-content>
    </mat-card>
    <br>
    <!-- <mat-card>
      <mat-card-header>
        <mat-card-title><small>变更记录</small></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <mat-label>进场编号:</mat-label>
          <input matInput formControlName="_id">
        </mat-form-field>
        <br>
      </mat-card-content>
    </mat-card> -->

  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="primary" (click)="onCancel()">取消</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="vswsForm.invalid">保存</button>
</mat-dialog-actions>

<!-- <input style="display: none" [value]="status.observables.valueChanges | async"> -->