/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacerx {
  flex: 1 1 auto;
}

// .full-width.cdk-global-overlay-wrapper#cdk-overlay-0 {
//   width: 100% !important;
//   max-width: 100% !important;
// }


@media print{
  .noprint{
      display:none;
  }


  * {
    visibility: hidden;
    height: 0;
    margin:0; padding:0;
   }

   #dataToPrint * {
     visibility: visible;
     height: auto;
   }
}

